<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">DESIGN RESPONSIVO</h5>
        <p class="grey-text text-lighten-4">
          Todos os recursos utilizados no site estão categorizados como OpenSource ou de livre uso na data vigente. O design (molde e seleção de cores) é propriedade intelectual do criador e deve ser respeitado.
        </p>

      </div>

      <div class="col l3 s12">
        <!--
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
          -->
      </div>

      <div class="col l3 s12">
        <h5 class="white-text">Conecte-se</h5>
        <ul>
          <li>
            <a class="white-text" href="https://br.linkedin.com/in/rafael-karayannopoulos-46b431152">Linkedin</a>
          </li>
          <li>
            <a class="white-text" href="https://github.com/malkaviano">Github</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row grey-text text-lighten-4">
        Construído por
        <a class="red-text text-darken-1" href="https://github.com/malkaviano">Malkaviano</a>
        &nbsp; utilizando &nbsp;
        <a class="red-text text-darken-1" href="http://materializecss.com/">Materialize</a>
      </div>
    </div>
  </div>
</footer>