<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Micro Bio</h5>
        <p class="grey-text text-lighten-4">
          Programo computadores desde o colegial na Fundação Matias Machline, começando com o 486-DX100 e seus poderosos 16MB, formei-me
          em Engenharia de Comunicações pela Fucapi e depois cursei Análise e Desenv de Sistemas no IFSP.
        </p>

      </div>

      <div class="col l3 s12">
        <!--
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
          -->
      </div>

      <div class="col l3 s12">
        <h5 class="white-text">Conecte-se</h5>
        <ul>
          <li>
            <a class="white-text" href="https://br.linkedin.com/in/rafael-karayannopoulos-46b431152">Linkedin</a>
          </li>
          <li>
            <a class="white-text" href="https://github.com/malkaviano">Github</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row grey-text text-lighten-4">
        Construído por
        <a class="red-text text-darken-1" href="https://github.com/malkaviano">Malkaviano</a>
        &nbsp; utilizando &nbsp;
        <a class="red-text text-darken-1" href="http://materializecss.com/">Materialize</a>
      </div>
    </div>
  </div>
</footer>