<header>
  <nav class="blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">Karaya Coding</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="/cv_rafael.pdf" target="_blank">Curriculum</a>
        </li>
        <li>
          <a href="/demos">Demos</a>
        </li>
        <li>
          <a href="/stack">Dev. Stack</a>
        </li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li>
          <a href="/cv_rafael.pdf" target="_blank">Curriculum</a>
        </li>
        <li>
          <a href="/demos">Demos</a>
        </li>
        <li>
          <a href="/stack">Dev. Stack</a>
        </li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
    </div>
  </nav>
</header>