<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h1 class="header center orange-text">Rafael Karayannopoulos Soares da Silva</h1>
    <div class="row center">
      <p class="header col s12 light left-align flow-text">
        Profissional de TI formado em Eng. Telecom, experiente com compiladores e linguagens estáticas, agora focado nas linguagens dinâmicas e agilidade.
      </p>
      <p class="header col s12 light left-align flow-text">
        Utilizo técnicas novas e consolidadas sempre seguindo as melhores práticas, acompanhando a vanguarda tecnológica e focado na estabilidade e na segurança.
      </p>
    </div>
    <div class="row center">
      <a href="/hire" id="download-button" class="btn-large waves-effect waves-light orange">
        Contate-me
      </a>
    </div>
    <div class="parallax-container">
      <div class="parallax">
        <img src="/img/tela1.jpg">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">flash_on</i>
          </h2>
          <h5 class="center">Desenvolvimento Correto</h5>

          <p class="light">
            A velocidade é uma função da aceleração em um intervalo de tempo.
          </p>
          <p class="light">
            Um projeto deve acelerar conforme evolui seguindo as boas práticas do mercado, bom conjunto de testes e a escolha das tecnologias
            corretas.
          </p>
          <p class="light">
            Acelerar sem controle leva ao acidente, muitos se perguntam como aquele projeto tão bem feito terminou tão mal e difícil
            de manter...
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">group</i>
          </h2>
          <h5 class="center">Focado no cliente</h5>

          <p class="light">
            Manter-se em contato com o cliente (Stakeholder) é fundamental para que o foco seja mantido, não há valor em construir corretamente
            o errado.
          </p>
          <p class="light">
            Entregar sempre aquilo que o cliente almeja.
          </p>
          <p class="light">
            A escolha entre o pronto ou o customizado e entre o simples ou o complexo envolve decisões que podem custar muito caro depois
            que o projeto evolui.
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">settings</i>
          </h2>
          <h5 class="center">Ferramentas de alta performance</h5>

          <p class="light">
            Utilizo apenas ferramentas que realmente agregam valor, de código aberto e que não estejam abandonadas por seus criadores.
          </p>
          <p class="light">
            O bom profissional está sempre em busca das boas ferramentas e não se contenta em ficar na sua zona de conforto.
          </p>
          <p class="light">
            O profissional bem sucedido sempre se adequa ao uso da ferramenta correta, ao invés de tentar adequar o problema a si.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>