<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m4">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Desenvolvedor .Net FullStack/Backend</span>
            <ul>
              <li>Criação de Websites e APIs usando ASP.Net Core2</li>
              <li>Criação de UI com razor e bootstrap</li>
              <li>Manutenção de código C# e VB.Net</li>
              <li>Programação de banco Microsoft SQL Server</li>
              <li>Elaboração de relatórios com Reporting Service</li>
              <li>Escrita de testes unitários com xUnit</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Desenvolvedor Node.js FullStack/Backend</span>
            <ul>
              <li>Criação de Websites e APIs usando Node.js e Express</li>
              <li>Criação de UI com handlebars e materialize</li>
              <li>Manutenção de código Javascript</li>
              <li>Persistência utilizando Mongoose e MongoDB</li>
              <li>Escrita de testes unitários com Mocha e Chai</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Desenvolvedor Android</span>
            <ul>
              <li>Criação de Apps em Android</li>
              <li>Programação em Kotlin</li>
              <li>Manutenção de código Java</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Desenvolvedor Ruby</span>
            <ul>
              <li>Criação de scripts em Ruby</li>
              <li>Manutenção de código em Ruby</li>
              <li>Criação de API em Sinatra</li>
              <li>Escrita de testes unitários com RSpec</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Programador C++ Jr.</span>
            <ul>
              <li>Criação de código C++ moderno no padrão 11/14</li>
              <li>Manutenção de código C e C++</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Mantenedor Java</span>
            <ul>
              <li>Manutenção de código Java</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>