<div class="container">
  <div class="section">
    <div class="row">
      <h3>Stacks de Desenvolvimento</h3>
      
      <div class="col s12 m4">
        <ul class="collection">
          <li class="collection-item teal lighten-2">Handlebars | Vue</li>
          <li class="collection-item teal lighten-2">Express</li>
          <li class="collection-item teal lighten-2">Node</li>
          <li class="collection-item teal lighten-2">Mongodb</li>
        </ul>
      </div>

      <div class="col s12 m4">
        <ul class="collection">
          <li class="collection-item teal lighten-2">Razor</li>
          <li class="collection-item teal lighten-2">Asp.NET MVC</li>
          <li class="collection-item teal lighten-2">C#</li>
          <li class="collection-item teal lighten-2">MsSQL Server</li>
        </ul>
      </div>
    </div>

     <div class="row">
      <h3>Outras Tecnologias, Linguagens e Ferramentas</h3>
      
      <div class="col s12 m4">
        <ul class="collection">
          <li class="collection-item teal lighten-2">Ruby</li>
          <li class="collection-item teal lighten-2">Rails</li>
          <li class="collection-item teal lighten-2">RSpec</li>
          <li class="collection-item teal lighten-2">Capybara</li>
          <li class="collection-item teal lighten-2">Atom</li>
        </ul>
      </div>

      <div class="col s12 m4">
        <ul class="collection">
          <li class="collection-item teal lighten-2">Kotlin</li>
          <li class="collection-item teal lighten-2">Android</li>
          <li class="collection-item teal lighten-2">Firebase</li>
          <li class="collection-item teal lighten-2">GreenRobot</li>
          <li class="collection-item teal lighten-2">Android Studio</li>
        </ul>
      </div>

      <div class="col s12 m4">
        <ul class="collection">
          <li class="collection-item teal lighten-2">MySQL</li>
          <li class="collection-item teal lighten-2">C/C++ 11/14</li>
          <li class="collection-item teal lighten-2">Visual Studio (Code)</li>
          <li class="collection-item teal lighten-2">Git</li>
        </ul>
      </div>
    </div>
  </div>
</div>