<div class="container">
  <div class="section">
    <div class="row">
      <h3>Stacks de Desenvolvimento</h3>
      <div class="col s12 m4">
        <ul class="collection">
          <li class="collection-item deep-purple lighten-3 clickable" data-explanation="View Engine para Interface gráfica">
            Handlebars | Vue
          </li>
          <li class="collection-item deep-purple lighten-3 clickable" data-explanation="Framework web rápido, flexível e minimalista para Node.js">
            Express
          </li>
          <li class="collection-item deep-purple lighten-3 clickable" data-explanation="Node.js é o servidor que executa código JS">
            Node
          </li>
          <li class="collection-item deep-purple lighten-3 clickable" data-explanation="Banco de dados NoSQL baseado em documentos">
            Mongodb
          </li>
        </ul>
      </div>

      <div class="col s12 m4">
        <ul class="collection">
          <li class="collection-item  red accent-2 clickable" data-explanation="View Engine para Interface gráfica no Asp.NET">
            Razor
          </li>
          <li class="collection-item  red accent-2 clickable" data-explanation="Framework Web MVC da Microsoft">
            Asp.NET MVC
          </li>
          <li class="collection-item  red accent-2 clickable" data-explanation="Ling. de programação compilada multiparadigma">
            C#
          </li>
          <li class="collection-item  red accent-2 clickable" data-explanation="Banco de dados relacional robusto">
            MS SQL Server
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <h3>Tecnologias, Linguagens e Ferramentas no meu kit</h3>

      <div class="col s12 m4">
        <ul class="collection">
          <li class="collection-item teal lighten-2 clickable" data-explanation="Ling. de programação interpretada multiparadigma">
            Ruby
          </li>
          <li class="collection-item teal lighten-2 clickable" data-explanation="Ling. Específica para criar Servidores Web simples em Ruby">
            Sinatra
          </li>
          <li class="collection-item teal lighten-2 clickable" data-explanation="Ferramenta de testes em Ruby para praticar BDD e TDD">
            RSpec
          </li>
          <li class="collection-item teal lighten-2 clickable" data-explanation="Ferramenta de testes para automação de testes de interface gŕafica">
            Capybara
          </li>
          <li class="collection-item teal lighten-2 clickable" data-explanation="Editor de texto para programação">
            Atom
          </li>
          <li class="collection-item teal lighten-2 clickable" data-explanation="Banco de dados em memória de alta performance">
            Redis
          </li>
        </ul>
      </div>

      <div class="col s12 m4">
        <ul class="collection">
          <li class="collection-item teal lighten-2 clickable" data-explanation="Ling. programação da Jetbrains integrada ao Android">
            Kotlin
          </li>
          <li class="collection-item teal lighten-2 clickable" data-explanation="Plataforma mobile da Google">
            Android
          </li>
          <li class="collection-item teal lighten-2 clickable" data-explanation="Plataforma Google para Apps">
            Firebase
          </li>
          <li class="collection-item teal lighten-2 clickable" data-explanation="EventBus para Android">
            GreenRobot
          </li>
          <li class="collection-item teal lighten-2 clickable" data-explanation="IDE para Android">
            Android Studio
          </li>
        </ul>
      </div>

      <div class="col s12 m4">
        <ul class="collection">
          <li class="collection-item teal lighten-2 clickable" data-explanation="Banco de dados relacional open source">
            MySQL
          </li>
          <li class="collection-item teal lighten-2 clickable" data-explanation="Ling. Programação compilada de alta performance">
            C/C++ 11/14
          </li>
          <li class="collection-item teal lighten-2 clickable" data-explanation="IDE open source">
            Visual Studio (Code)
          </li>
          <li class="collection-item teal lighten-2 clickable" data-explanation="Ferramenta de versionamento de código">
            Git
          </li>
          <li class="collection-item teal lighten-2 clickable" data-explanation="Software de Virtualização">
            Vagrant
          </li>
          <li class="collection-item teal lighten-2 clickable" data-explanation="Software de Container Virtual">
            Docker
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <h6>Clique sobre o item para ver breve explicação</h6>
    </div>
  </div>

</div>